.bar-chart-horizontal-gridline {
    stroke: #555;
    stroke-width: 1;
    stroke-dasharray: 3 3;
}

.bar {
    fill: #0E4459;
}

#selected-city {
    fill: red;
}

.bar:hover {
    fill: bisque;
    stroke-width: 2;
    stroke: black;
}

#selected-city:hover {
    fill: bisque;
    stroke-width: 2;
    stroke: black;
}

#bar-chart-x-axis .tick text {
    text-anchor: end;
    transform: translate(-5px, 0) rotate(-30deg);
}

.legend-text {
    fill: black;
    font-size: 14px;
    font-weight: bold;
}

#x-axis-legend-text {
    text-anchor: middle;
}

/* #bar-chart-button {
    display: inline-block;
    color: blue;
    background: green;
    border-radius: 4px;
} */

.bar-chart-container {
    position: relative;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scroll-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scroll-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Add or update these CSS rules */
.y-axis-svg {
    z-index: 20;
    position: relative;
}

.main-svg {
    z-index: 10;
    position: relative;
}