.bar-chart-horizontal-gridline {
    stroke: #555;
    stroke-width: 1;
    stroke-dasharray: 3 3;
}

.bar {
    fill: #0E4459;
}

#selected-city {
    fill: red;
}

.bar:hover {
    fill: bisque;
    stroke-width: 2;
    stroke: black;
}

#selected-city:hover {
    fill: bisque;
    stroke-width: 2;
    stroke: black;
}

#bar-chart-x-axis .tick text {
    text-anchor: end;
    transform: translate(-5px, 0) rotate(-30deg);
}

.legend-text {
    fill: #0E4459;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}

.bar-chart-container {
    position: relative;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.y-axis-svg {
    z-index: 20;
    position: relative;
    overflow: visible;
}

.main-svg {
    z-index: 10;
    position: relative;
}

/* New styles for axis labels */
.bar-chart-axis text {
    font-size: 12px;
    font-family: sans-serif;
}