.bar-chart-horizontal-gridline {
    stroke: #555;
    stroke-width: 1;
    stroke-dasharray: 3 3;
}

.bar {
    fill: steelblue;
}

#selected-city {
    fill: red;
}

.bar:hover {
    fill: bisque;
    stroke-width: 2;
    stroke: black;
}

#selected-city:hover {
    fill: bisque;
    stroke-width: 2;
    stroke: black;
}

#bar-chart-x-axis .tick text {
    text-anchor: end;
    transform: translate(-5px, 0) rotate(-30deg);
}

.legend-text {
    fill: black;
    font-size: 14px;
    font-weight: bold;
}

#x-axis-legend-text {
    text-anchor: middle;
}

#bar-chart-tooltip {
    position: absolute;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    pointer-events: none;
    white-space: pre-line;
}
