.line-chart-axis g line {
    stroke-width: 0.5;
}

.chart-line {
    stroke: steelblue;
    stroke-width: 2.5;
}

.line-chart-dot {
    fill: steelblue;
}

.line-chart-hover-dot {
    fill: steelblue;
    opacity: 0;
}

.line-chart-hover-dot:hover {
    opacity: 1;
}

.prediction-dot {
    fill: red;
}

.prediction-hover-dot {
    fill: red;
    opacity: 0;
}

.prediction-hover-dot:hover {
    opacity: 0.3;
}

#line-chart-tooltip {
    position: absolute;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    pointer-events: none;
    white-space: pre-line;
}
